<launch>
  <node name="detector" pkg="asl_turtlebot" type="detector.py" />
  <!-- <node name="supervisor" pkg="asl_turtlebot" type="supervisor.py" output="screen" /> -->
  <node name="teleop" pkg="asl_turtlebot" type="keyboard_teleop.py" >
    <remap from="/cmd_vel" to="/key_vel" />        
  </node>
  <node name="pose_controller" pkg="asl_turtlebot" type="pose_controller.py" >
    <remap from="/cmd_vel" to="/nav_vel" />
  </node>
  <!-- <node name="navigator" pkg="asl_turtlebot" type="pose_controller.py" > -->
  <!--   <remap from="/cmd_vel" to="/nav_vel" /> -->
  <!-- </node> -->
  <include file="$(find turtlebot3_slam)/launch/turtlebot3_slam.launch" />
  <include file="$(find twist_mux)/launch/twist_mux.launch" />
</launch>
