<launch>
  <node name="detector" pkg="asl_turtlebot" type="detector.py" />
  <node name="supervisor" pkg="asl_turtlebot" type="supervisor.py" output="screen" />
  <node name="teleop" pkg="asl_turtlebot" type="keyboard_teleop.py" >
    <remap from="/cmd_vel" to="/cmd_vel" />        
  </node>
</launch>
